<div class="relative h-screen">
    <img class="absolute inset-0 h-full w-full object-cover blur-sm" [src]="imageUrl" alt="Background Image" />
    <div class="absolute inset-0 flex flex-col justify-center items-center ">
        <div class="justify-start bg-black bg-opacity-40 text-white px-24 py-16">
            <h1 class="font-semibold text-2xl">Support Contacts!!</h1>
            <br>
          <div class="space-y-2">
            <p><strong>Address</strong>:70, Industrial Area Phase I, Ind, Area, Chandigarh, 160101</p>
            <p class="text-white"><strong>Email</strong>: support&#64;cloudeq.com</p>
            <p class="font-medium">Reach us we are happy to connect!!!</p>
          </div>
            
         
        </div>
    </div>
</div>