
<div class="m-14">
    <h1 class="font-sans font-semibold text-4xl">Contact</h1>
    <br>
    <h3 class="font-sans font-semibold text-2xl">Fill up a Form</h3>
    <br>
    <form>
       
        <div>
            <p class="font-sans font-medium">Name</p>
            <input type="text" class="border border-gray-300 border-t-0 rounded-t-md px-28 py-1" placeholder="Enter your Name here">

            <br><br>
            <p class="font-sans font-medium">Email</p>
            <input type="text" class="border border-gray-300 border-t-0 rounded-t-md px-28 py-1" placeholder="Enter your Email here">
            <br><br>
            <p class="font-sans font-medium">Message</p>
            <input type="text" class="border border-gray-300 border-t-0 rounded-t-md px-28 py-10" placeholder="Write a Message ">
          <br><br>
        </div>
        <button class="bg-gray-800 text-white  px-16 py-2 m-10 mt-2" type="submit">Post</button>
    </form>


</div>
