<div class="mt-14 ml-64" *ngFor="let product of data">
   
    <h1 class="font-semibold text-6xl">Cart</h1>
    <br /><br />   
  
    <div class="border p-12 max-w-3xl">
      <div class="flex justify-between">
        <div class="py-5 px-6 text-xl flex justify-between items-center">
          <button (click)="removeitem()" class="hover:bg-red-600 p-2">X</button>
        </div>
      
       
        <div>
          <div class="p-10 rounded-md">
            <img class="w-32 h-32" src={{product.image}} alt="productImage" />
            <h1 class="font-titleFont font-semibold">{{ product.title }}</h1>

          </div>
        </div>
        <div>
          <p class="font-semibold text-gray-800">Price</p>
          <p class="font-bold"><strong>{{product.Price}}</strong></p>
        </div>
  
        <div>
          <p class="font-semibold text-gray-800">Quantity</p>
          <button class="border-gray-50 px-3 bg-slate-100 text-black rounded-md focus:outline-none" (click)="decrement()" >-</button>
          <span class="text-xl">{{product.quantity}}</span>
          <button class="border-gray-50 px-3 bg-slate-100 text-black rounded-md focus:outline-none" (click)="increment()" >+</button>
        </div>
  
        <div>
          <p class="font-semibold text-gray-800">Sub Total</p>
          <p class="font-bold"><strong>{{product.quantity * product.price}}</strong></p>
        </div>
      </div>
    </div>
    <br />
  
    <h1 class="font-semibold text-4xl ml-52">Cart totals</h1>
    <br />
  
    <div class="border-gray-300 border-2 max-w-3xl p-4">
      <!-- First Row Content -->
      <div class="flex justify-between">
        <p class="font-semibold text-gray-800">Sub Total</p>
        <br />
        <p class="font-bold"><strong>{{product.quantity * product.price}}</strong></p>
      </div>
    </div>
    <div
      class="border-gray-300 border-2 border-t-0 border-collapse max-w-3xl p-4"
    >
      <!-- Second Row Content -->
      <div class="flex justify-between">
        <p class="font-semibold text-gray-800">Shipping Charge</p>
        <br />
        <p class="font-bold"><strong>$20</strong></p>
      </div>
    </div>
  
    <div
      class="border-gray-300 border-2 border-t-0 border-collapse max-w-3xl p-4"
    >
      <!-- Third Row Content -->
      <div class="flex justify-between">
        <p class="font-semibold text-gray-800">Total</p>
        <br />
        <p class="font-bold"><strong>$2520</strong></p>
      </div>
    </div>
  </div>

<app-form></app-form>

