<div *ngIf="isCartEmpty(); else cartNotEmpty">
  <div class="relative h-screen">
    <div class="absolute inset-0 flex flex-col justify-center items-center ">
      <div class="justify-start">
        <h1 class="font-bold text-6xl -ml-72">Cart</h1>
      </div>
      <br>
      <br>
      <div class="max-w-[500px] p-4 py-8 bg-white flex gap-4 flex-col items-center rounded-md shadow-lg">
        <div class="space-y-2">
          <h1 class="font-bold text-2xl ml-10 ">YOUR CART FEELS LONELY.</h1>

          <h6 class="text-1xl  ">Your Shopping cart lives to serve.Give it purpose-fill it with <br>
            &nbsp; &#160; books, electronics, videos, etc.and make it happy</h6>
        </div>
        <div>

        </div>
        <br>
        <br>

        <div class="justify-center text-center">
          <button
            class="bg-primeColor cursor-pointer hover:bg-black active:bg-gray-900 px-8 py-2 font-titleFont font-semibold text-lg text-gray-200 hover:text-white duration-300">
            <a [routerLink]="['/']">
            continue Shopping
          </a>
        </button>
            

        </div>
      </div>
    </div>
  </div>

</div>
<ng-template #cartNotEmpty>
  <div class="mt-14 ml-64">
    <h1 class="font-semibold text-6xl">Cart</h1>
    <br /><br />

    <div *ngFor="let product of data" class="max-w-3xl flex col-span-5 mdl:col-span-2 items-center gap-10">
      <div class="flex justify-between items-center  border-2">
        <div class="px-6 text-xl flex justify-between items-center">
          <button (click)="removeItem(product.productId)" class=" text-primeColor hover:text-red-500 duration-300 cursor-pointer ml-4">X</button>
        </div>

        <div>
          <div class="rounded-md p-2">
            <img class="w-32 h-32" src="{{ product.image }}" alt="productImage" />
          </div>
        </div>

        <div class="flex justify-center px-20 space-x-8">
          <div>
            <p class="font-semibold text-gray-800">Price</p>
            <p class="font-bold pt-2"><strong>{{ product.price }}</strong></p>
          </div>
            <br>
          <div>
            <p class="pb-2 font-semibold text-gray-800  ">Quantity</p>
            <button mat-flat-button class=" font-bold text-2xl  border-gray-50 px-2 bg-slate-100 text-black rounded-md focus:outline-none"
              (click)="decrement(product.productId, product.quantity)">    <strong> - </strong></button>
            <span class="text-xl space-y-8">{{ product.quantity }}  </span>
            <button  mat-flat-button class=" font-bold text-2xl   border-gray-50 px-2 bg-slate-100 text-black rounded-md focus:outline-none"
              (click)="increment(product.productId, product.quantity)">+</button>
          </div>

          <div>
            <p class="pb-2 font-semibold text-gray-800">Sub Total</p>
            <p class="font-bold"><strong>{{ product.quantity * product.price }}</strong></p>
          </div>
        </div>
      </div>
    </div>
    <br />

    <h1 class="font-semibold text-4xl ml-52">Cart totals</h1>
    <br />

    <div class="border-gray-300 border-2 max-w-3xl p-4">
      <div class="flex justify-between">
        <p class="font-semibold text-gray-800">Sub Total</p>
        <br />
        <p class="font-bold"><strong>{{ getTotalPrice() }}</strong></p>
      </div>
    </div>

    <div class="border-gray-300 border-2 border-t-0 border-collapse max-w-3xl p-4">
      <div class="flex justify-between">
        <p class="font-semibold text-gray-800">Shipping Charge</p>
        <br />
        <p class="font-bold"><strong>$20</strong></p>
      </div>
    </div>

    <div class="border-gray-300 border-2 border-t-0 border-collapse max-w-3xl p-4">
      <div class="flex justify-between">
        <p class="font-semibold text-gray-800">Total</p>
        <br />
        <p class="font-bold"><strong>{{ getTotalPrice() }}</strong></p>
      </div>
    </div>

    <app-form></app-form>
  </div>