<br />
<h1 class="font-semibold text-2xl justify-center flex text-teal-500">
  Ordered Products
</h1>
<br />

<div class="flex space-x-4 ml-44">
  <div
    class="border-2 border-r-0 border-l-0 border-t-0 shadow-slate-800 shadow-sm ml-40"
  >
  <div
      class="border-2 px-1 py-4  border-r-0 border-l-0 border-t-0 mx-4 overflow-hidden"
    >
     <h1 class="font-bold"> Order history</h1>
    </div>

  
    <div
      class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden"
    >
    
      <div class="float-left">
        <h1 class="font-bold">#48</h1>
        <h1 class="font-semibold">USD $9000.00</h1>
        <p>2 items</p>
      </div>

      <div class="float-right overflow-hidden pt-0">
        <p class="text-green-600 float-right">Delivered</p>
        <br />
        <p class="float-right">{{ currentDate | date : "medium" }}</p>
      </div>
    </div>


  <div
  class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden"
>
  <div class="float-left">
    <h1 class="font-bold text-orange-600">#49</h1>
    <h1 class="font-semibold">USD $37602.00</h1>
    <p>2 items</p>
  </div>

  <div class="float-right overflow-hidden pt-0">
    <p class="text-green-600 float-right">Delivered</p>
    <br />
    <p class="float-right">{{ currentDate | date : "medium" }}</p>
  </div>
</div>

<div
class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden"
>
<div class="float-left">
  <h1 class="font-bold">#50</h1>
  <h1 class="font-semibold">USD $6102.00</h1>
  <p>2 items</p>
</div>

<div class="float-right overflow-hidden pt-0">
  <p class="text-green-600 float-right">Delivered</p>
  <br />
  <p class="float-right">{{ currentDate | date : "medium" }}</p>
</div>
</div>

    <div
      class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden"
    >
      <div class="float-left">
        <h1 class="font-bold">#51</h1>
        <h1 class="font-semibold">USD $14602.00</h1>
        <p>2 items</p>
      </div>

      <div class="float-right overflow-hidden pt-0">
        <p class="text-green-600 float-right">Delivered</p>
        <br />
        <p class="float-right">{{ currentDate | date : "medium" }}</p>
      </div>
    </div>
    <div
    class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden"
  >
    <div class="float-left">
      <h1 class="font-bold">#52</h1>
      <h1 class="font-semibold">USD $15015.00</h1>
      <p>2 items</p>
    </div>

    <div class="float-right overflow-hidden pt-0">
      <p class="text-green-600 float-right">Delivered</p>
      <br />
      <p class="float-right">{{ currentDate | date : "medium" }}</p>
    </div>
  </div>
</div>





  

  <div class="shadow-slate-800 shadow-sm ">
    <div class="border-2 border-r-0 border-l-0 border-t-0 py-3 pl-2">
      <h1 class="font-semibold text-xl">Order #49 (5)</h1>
    </div>
    <br />

    <div class="border-2 border-r-0 border-l-0 border-t-0">
      <h1 class="float-right font-bold pl-52 pr-3">$1500.00</h1>

      <div class="flex">
        <img
          class="h-32"
          src="https://5.imimg.com/data5/KM/VW/MY-45002099/mens-winter-jacket.jpg"
          alt=""
        />

        <div class="pl-5 pt-2">
          <h1 class="font-bold">GLUN 50Kg Portable Scale Digita...</h1>
          <p>1.Blue backlight,4-digit LCD</p>
          <p>display,clearer readings</p>
          <br />
          <p>1 item <strong>.$1500.00</strong></p>
        </div>
      </div>
    </div>

    <div class="border-2 border-r-0 border-l-0 border-t-0">
      <h1 class="float-right font-bold pl-52 pr-3">$1500.00</h1>

      <div class="flex">
        <img
          class="h-32 pl-3"
          src="https://m.media-amazon.com/images/I/51aRcLwwKAL._AC_UL1500_.jpg"
          alt=""
        />

        <div class="pl-5 pt-2">
          <h1 class="font-bold">GLUN 50Kg Portable Scale Digita...</h1>
          <p>1.Blue backlight,4-digit LCD</p>
          <p>display,clearer readings</p>
          <br />
          <p>1 item <strong>.$1500.00</strong></p>
        </div>
      </div>
    </div>

    <div class="border-3 border-r-0 border-l-0 border-t-0">
      <h1 class="float-right font-bold pl-52 pr-3">$1500.00</h1>
      <div class="flex">
        <img
          class="h-32 pl-2"
          src="https://m.media-amazon.com/images/I/516go88UX+L._AC_UY580_.jpg"
          alt=""
        />

        <div class="pl-5 pt-2">
          <h1 class="font-bold">GLUN 50Kg Portable Scale Digita...</h1>
          <p>1.Blue backlight,4-digit LCD</p>
          <p>display,clearer readings</p>
          <br />
          <p>1 item <strong>.$1500.00</strong></p>
        </div>
      </div>
    </div>

    <div class="border-2 border-r-0 border-l-0 ">
      <h1 class="float-right font-bold pl-52 pr-3">$1500.00</h1>
      <div class="flex">
        <img
          class="h-32"
          src="https://5.imimg.com/data5/OT/ET/MY-55314888/mens-cotton-jacket.jpg"
          alt=""
        />

        <div class="pl-5 pt-2">
          <h1 class="font-bold">Solid Black Men's Cotton Jacket</h1>
          <p>Riding on unfathomable <br> volumes of industrial expertise,<br>
             we are providing a broad array of Mens Cotton Jacket.</p>
          
          <br />
          <p>1 item <strong>.$1500.00</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
