
<br><br>

<div class="bg-teal-200 border-2 rounded-lg pl-5 pr-40 pt-5 pb-10 ml-32 mr-32">
    
       
    <div class="flex space-x-4">
        <p class="font-medium"><strong>Name :</strong>xxxxxxxxxx</p>
        <p class="font-medium"><strong>Address :</strong>xxxxxxxxx</p>
        <p class="font-medium"><strong>Contact :</strong>xxxxxxxxxx</p>
        <p class="font-medium"><strong>Order Date :</strong>xxxxxxxx</p>
        <p class="font-medium"><strong>Email :</strong>xxxxxxxxxx</p>
       
    </div>
    <p class="font-bold">Total Amount :</p>

    <div class="ml-10">

        <div class=" bg-white   w-64 h-52 pl-3 rounded-lg">
            <img class=" mt-10 w-36 h-32  pt-2" src="https://cdn.anscommerce.com/catalog/brandstore/johnson/17_7_20/Sale.jpg" alt="">
          <br>
            <div class="overflow-hidden space-x-3 flex">
               <div>
                <div class="flex space-x-2"> 
                    <p class="font-semibold text-gray-800 ">Price</p>
                    <p class="font-medium">$2500</p>
                   </div>
                   <div class="flex space-x-2">
                    <p class="font-semibold text-gray-800">Sub Total</p>
                    <p class="font-medium">$2500</p>
                   </div>
    
               </div>
               <div class="flex space-x-2">
                    <p class="font-semibold text-gray-800">Quantity :</p>
                    <p class="font-medium">1</p>
                   </div>
            </div>
         </div>
    </div>

     </div>

     <br><br>

     
        
<div class="bg-teal-200 border-2 rounded-lg pl-5 pr-40 pt-5 pb-10 ml-32 mr-32">
    
       
    <div class="flex space-x-4">
        <p class="font-medium"><strong>Name :</strong>xxxxxxxxxx</p>
        <p class="font-medium"><strong>Address :</strong>xxxxxxxxx</p>
        <p class="font-medium"><strong>Contact :</strong>xxxxxxxxxx</p>
        <p class="font-medium"><strong>Order Date :</strong>xxxxxxxx</p>
        <p class="font-medium"><strong>Email :</strong>xxxxxxxxxx</p>
       
    </div>
    <p class="font-bold">Total Amount :</p>

    <div class="ml-10">

        <div class=" bg-white   w-64 h-52 pl-3 rounded-lg">
            <img class=" mt-10 w-36 h-32  pt-2" src="https://cdn.anscommerce.com/catalog/brandstore/johnson/17_7_20/Sale.jpg" alt="">
          <br>
            <div class="overflow-hidden space-x-3 flex">
               <div>
                <div class="flex space-x-2"> 
                    <p class="font-semibold text-gray-800 ">Price</p>
                    <p class="font-medium">$2500</p>
                   </div>
                   <div class="flex space-x-2">
                    <p class="font-semibold text-gray-800">Sub Total</p>
                    <p class="font-medium">$2500</p>
                   </div>
    
               </div>
               <div class="flex space-x-2">
                    <p class="font-semibold text-gray-800">Quantity :</p>
                    <p class="font-medium">1</p>
                   </div>
            </div>
         </div>
    </div>

     </div>
<br><br>

