
<br><br>
<app-product-list>
    <div class="bg-teal-200 border-2 rounded-lg pl-5 pr-40 pt-5 pb-10 ml-32 mr-32">
    
       
        <div class="flex space-x-4">
            <p class="font-medium"><strong>Name : </strong>Jhon</p>
            <p class="font-medium"><strong>Address : </strong>Chicago USA</p>
            <p class="font-medium"><strong>Contact : </strong>(532)434-343-326</p>
            <p class="font-medium"><strong>Order Date : </strong>12-nov-2023</p>
            <p class="font-medium"><strong>Email : </strong>jhon123&#64;gmail.com</p>
           
        </div>
        <p class="font-bold">Total Amount :$450.00</p>
    
        <div class="ml-10">
    
            <div class=" bg-white   w-64 h-52 pl-3 rounded-lg">
                <img class=" mt-10 w-36 h-32  pt-2" src="https://5.imimg.com/data5/KM/VW/MY-45002099/mens-winter-jacket.jpg" alt="">
              <br>
                <div class="overflow-hidden space-x-3 flex">
                   <div>
                    <div class="flex space-x-2"> 
                        <p class="font-semibold text-gray-800 ">Price</p>
                        <p class="font-medium">$2500</p>
                       </div>
                       <div class="flex space-x-2">
                        <p class="font-semibold text-gray-800">Sub Total</p>
                        <p class="font-medium">$2500</p>
                       </div>
        
                   </div>
                   <div class="flex space-x-2">
                        <p class="font-semibold text-gray-800">Quantity :</p>
                        <p class="font-medium">1</p>
                       </div>
                </div>
             </div>
        </div>
    
         </div>
</app-product-list>
<br><br>
<app-product-list>
    <div class="bg-teal-200 border-2 rounded-lg pl-5 pr-40 pt-5 pb-10 ml-32 mr-32">
    
       
        <div class="flex space-x-4">
            <p class="font-medium"><strong>Name :</strong>Smaith</p>
            <p class="font-medium"><strong>Address :</strong>Yew-York USA</p>
            <p class="font-medium"><strong>Contact :</strong>(422)-4323-4432</p>
            <p class="font-medium"><strong>Order Date :</strong>13-Dec-2023</p>
            <p class="font-medium"><strong>Email :</strong>Smith123&#64;gmail.com</p>
           
        </div>
        <p class="font-bold">Total Amount :</p>
    
        <div class="ml-10">
    
            <div class=" bg-white   w-64 h-52 pl-3 rounded-lg">
                <img class=" mt-10 w-36 h-32  pt-2" src="https://www.jiomart.com/images/product/original/rv19vz9adl/bruton-trendy-sports-shoes-for-men-blue-product-images-rv19vz9adl-0-202209021252.jpg?im=Resize=(1000,1000)" alt="">
              <br>
                <div class="overflow-hidden space-x-3 flex">
                   <div>
                    <div class="flex space-x-2"> 
                        <p class="font-semibold text-gray-800 ">Price</p>
                        <p class="font-medium">$340</p>
                       </div>
                       <div class="flex space-x-2">
                        <p class="font-semibold text-gray-800">Sub Total</p>
                        <p class="font-medium">$340</p>
                       </div>
        
                   </div>
                   <div class="flex space-x-2">
                        <p class="font-semibold text-gray-800">Quantity :</p>
                        <p class="font-medium">1</p>
                       </div>
                </div>
             </div>
        </div>
    
         </div>
</app-product-list>
<br><br>



    


