<div class="flex group-hover:bg-gray-200 transition duration-300 ease-in-out px-6 rounded overflow-hidden shadow-lg m-4 ml-0">
    <div class="w-1/2 pr-4 flex items-center">
        

        <img src="{{product.image}}" alt="{{product.description}}" class="">
    </div>
    <div class="w-1/2 flex flex-col justify-center ">

        <p class="text-left font-medium text-3xl"> Category:</p>
        <br>

        <p class="text-left font-medium"> Product Name: {{product.title}}</p>
        <br>
        <p class=" font-semibold text-2xl">Price: {{product.price}}</p>
        <br>
        <h2 class="font-sans tex-xl mb-2">Description: {{product.description}}</h2>
       
    </div>
    <app-product-detail></app-product-detail>
</div>
<div>

   
</div>


