<div class="shadow-slate-800 shadow-sm ">
    <div class="border-2 border-r-0 border-l-0 border-t-0 py-3 pl-2  ">
      <h1 class=" text-xl font-bold">Order #157 (5)</h1>
    </div>
    <br />

    <div class="border-2 border-r-0 border-l-0 border-t-0">
      <h1 class="float-right font-bold pl-52 pr-3">$1500.00</h1>

      <div class="flex">
        <img
          class="h-28 mt-2 ml-1"
          src="https://m.media-amazon.com/images/I/41NOKPCVM7L._SX300_SY300_QL70_FMwebp_.jpg"
          alt=""
        />

        <div class="pl-5 ">
          <h1 class="font-bold">OnePlus 11R 5G </h1>
          <p class="font-medium">(Galactic Silver, 16GB RAM, 256GB Storage)</p>
          <p class="font-normal" >Camera: 108 MP Main Camera with EIS; 2MP 
          </p>
          <br />
          <p>1 item <strong>.$1500.00</strong></p>
        </div>
      </div>
    </div>

    <div class="border-2 border-r-0 border-l-0 border-t-0">
      <h1 class="float-right font-bold pl-52 pr-3">$1500.00</h1>

      <div class="flex">
        <img
          class="h-28 mt-3 ml-6"
          src="https://rukminim2.flixcart.com/image/416/416/xif0q/mobile/6/v/0/c51-mzb0dxkin-poco-original-imagzdpycgrcdc8z.jpeg?q=70"
          alt=""
        />

        <div class="pl-5 pt-2">
          <h1 class="font-bold">OnePlus 11R 5G </h1>
          <p class="font-medium">(Galactic Silver, 16GB RAM, 256GB Storage)</p>
          <p class="font-normal" >Camera: 108 MP Main Camera with EIS; 2MP 
          </p>
          <br />
          <p>1 item <strong>.$1500.00</strong></p>
        </div>
      </div>
    </div>

    <div class="border-3 border-r-0 border-l-0 border-t-0">
      <h1 class="float-right font-bold pl-52 pr-3">$1500.00</h1>
      <div class="flex">
        <img
          class="h-28 mt-2 ml-1"
          src="https://m.media-amazon.com/images/I/41kyuER2HjL._SX300_SY300_QL70_FMwebp_.jpg"
          alt=""
        />

        <div class="pl-5 pt-2">
          <h1 class="font-bold">OnePlus 11R 5G </h1>
          <p class="font-medium">(Galactic Silver, 16GB RAM, 256GB Storage)</p>
          <p class="font-normal" >Camera: 108 MP Main Camera with EIS; 2MP 
          </p>
          <br />
          <p>1 item <strong>.$1500.00</strong></p>
        </div>
      </div>
    </div>

    <div class="border-2 border-r-0 border-l-0 ">
      <h1 class="float-right font-bold pl-52 pr-3">$1500.00</h1>
      <div class="flex">
        <img
          class="h-28 mt-2 ml-1"
          src="https://m.media-amazon.com/images/I/41NOKPCVM7L._SX300_SY300_QL70_FMwebp_.jpg"
          alt=""
        />

        <div class="pl-5 pt-2">
          <h1 class="font-bold">Solid Black Men's Cotton Jacket</h1>
          <p>Riding on unfathomable <br> volumes of industrial expertise,<br>
             we are providing a broad array of Mens Cotton Jacket.</p>
          <p>1 item <strong>.$1500.00</strong></p>
        </div>
      </div>
    </div>
  </div>

