
  <div
    class="border-2 border-r-0 border-l-0 border-t-0 shadow-slate-800 shadow-sm ml-40 scroll-smooth focus:scroll-auto"
  >
    <div
      class="border-2 px-1 py-4 border-r-0 border-l-0 border-t-0 mx-4 overflow-hidden "
    >
      <h1 class="font-bold">Order history</h1>
    </div>

    



    <div
      class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden "
    >
      <div class="float-left">
        <h1 class="font-bold">#48</h1>
        <h1 class="font-semibold">USD $9000.00</h1>
        <p>2 items</p>
      </div>

      <div class="float-right overflow-hidden pt-0">
        <p class="text-green-600 float-right">Delivered</p>
        <br />
        <p class="float-right">{{ currentDate | date : "medium" }}</p>
      </div>
    </div>

    

    <div
      class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden"
    >
      <div class="float-left">
        <h1 class="font-bold">#49</h1>
        <h1 class="font-semibold">USD $37602.00</h1>
        <p>2 items</p>
      </div>

      <div class="float-right overflow-hidden pt-0">
        <p class="text-green-600 float-right">Delivered</p>
        <br />
        <p class="float-right">{{ currentDate | date : "medium" }}</p>
      </div>
    </div>

    <div
      class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden "
    >
      <div class="float-left">
        <h1 class="font-bold">#49</h1>
        <h1 class="font-semibold">USD $37602.00</h1>
        <p>2 items</p>
      </div>

      <div class="float-right overflow-hidden pt-0">
        <p class="text-green-600 float-right">Delivered</p>
        <br />
        <p class="float-right">{{ currentDate | date : "medium" }}</p>
      </div>
    </div>

    <div
      class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden"
    >
      <div class="float-left">
        <h1 class="font-bold">#50</h1>
        <h1 class="font-semibold">USD $6102.00</h1>
        <p>2 items</p>
      </div>

      <div class="float-right overflow-hidden pt-0">
        <p class="text-green-600 float-right">Delivered</p>
        <br />
        <p class="float-right">{{ currentDate | date : "medium" }}</p>
      </div>
    </div>

    <div
      class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden"
    >
      <div class="float-left">
        <h1 class="font-bold">#51</h1>
        <h1 class="font-semibold">USD $14602.00</h1>
        <p>2 items</p>
      </div>

      <div class="float-right overflow-hidden pt-0">
        <p class="text-green-600 float-right">Delivered</p>
        <br />
        <p class="float-right">{{ currentDate | date : "medium" }}</p>
      </div>
    </div>
    <div
      class="border-2 px-1 py-4 mx-6 border-r-0 border-l-0 border-t-0 shadow-md overflow-hidden"
    >
      <div class="float-left">
        <h1 class="font-bold">#52</h1>
        <h1 class="font-semibold">USD $15015.00</h1>
        <p>2 items</p>
      </div>

      <div class="float-right overflow-hidden pt-0">
        <p class="text-green-600 float-right">Delivered</p>
        <br />
        <p class="float-right">{{ currentDate | date : "medium" }}</p>
      </div>
    </div>
  </div>
