<div class=" w-[800px] group-hover:bg-gray-200 transition duration-300 ease-in-out px-6 py-4 rounded overflow-hidden shadow-lg m-4 ml-0 flex py-2 px-6">
    <div class="w-1/2 pr-4 ">
        <img src="{{product.image}}" alt="{{product.description}}" class=" ml-0 ">
    </div>
    <div class="w-1/2">
        <p>Name: {{product.title}}</p>
        <h2 class="text-xl mb-2"> Description : {{product.description}}</h2>
        <p class="text-lg font-semibold text-teal-600"> Price: {{product.price}}</p>
    </div>
</div>

